# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo


#Compressed files
*.zip
*.rar
*.7z
*.tar

#Projet Altium
*.PrjPcb
*/History/*
*.PrjPcbStructure
*/Altium/*/__Previews/*
*/Altium/*/Project Logs for Projet-Yawgmoth
*/Altium/*/Generate Files/*
*/Altium/*/History/*

*/.vscode/*
*/STM32F103XX_FLASH.ld
*/startup_stm32f103xb.s

# Visual Studio Code
Code/*/.vscode/*
Code/*/build/*
.stm32env
openocd.cfg
STM32Make.make
Code/Projet-Yawgmoth/Makefile
Code/Projet-Yawgmoth/.mxproject
Code/Projet-Yawgmoth/
Code/Projet-Yawgmoth/STM32Make.make
Code/Projet-Yawgmoth/STM32F103XX_FLASH.id
Code/Projet-Yawgmoth/.stm32env
STM32-for-VSCode.config.yaml
Code/Projet-Yawgmoth/Drivers/*